@import url("https://fonts.googleapis.com/css2?family=Chango&display=swap");

body {
  background-color: black;
	overflow-y: hidden;
	overflow-x: hidden;
}

.background-canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: block;
  /* height: 100vw; */
  /* width: 100vw; */
}
.game_canvas {
  /* background-color: #F5EEDC; */
  background-color: rgb(192, 192, 192, 0.6);
  border-style: solid;
  border-radius: 20px;
  box-shadow: white 0px 20px 20px -10px;
  position: absolute;
}

.fx_canvas {
  position: absolute;
  z-index: 10;
}

ul {
  /* border-style: solid; */
}
li {
  font-family: "Monaco", monospace;
}

.chango-regular {
  font-family: "Chango", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.game-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin: auto;
  height: 100%;
}

.side-panel {
  display: flex;
  flex-direction: column;
  justify-self: center;
  background-color: #dda853;
  width: 200px;
  border-style: solid;
  border-radius: 25px;
  height: 500px;
  box-shadow: white 0px 10px 30px -5px;
}

.score {
  font-size: 25px;
  justify-content: center;
  text-align: center;
  font-family: "Monaco", monospace;
}

.game-container > div {
  background-color: f1f1f1;
  margin: 20px;
}

@keyframes swell {
  5%,
  95% {
    scale: 100%;
  }
  50% {
    scale: 120%;
  }
}

.title1 {
  display: flex;
  font-size: 30px;
  justify-content: center;
  text-align: center;
  font-family: "Chango", chango-regular, monospace;
  color: white;
  text-shadow: 1px 1px 2px pink;
  animation-duration: 8s;
  animation-name: swell;
  animation-iteration-count: infinite;
}
.title2 {
  display: flex;
  font-size: 20px;
  justify-content: center;
  text-align: center;
  text-shadow: 1px 1px 2px pink;
  font-family: "Chango", chango-regular, monospace;
}
.help {
  text-align: center;
  justify-content: center;
  font-family: "Monaco", monospace;
}
h1 {
  font-family: "Monaco", monospace;
}
